html, body {
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.wrapper .toolbar {
  position: absolute;
  height: 100%;
  width: 245px;
  background: #000;
  right: -245px;
  top: 0;
  background-color: #1a1a1a;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.toolbar .toggle-btn {
  position: absolute;
  display: block;
  width: 10px;
  height: 50px;
  top: 50%;
  left: -10px;
  margin-top: -25px;
  background: #1a1a1a;
}

.toolbar .toggle-btn:after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  top: 50%;
  margin-top: -6px;
  border-right-color: #fff;
  left: -4px;
}

.wrapper .toolbar.active {
  right: 0;
}

.wrapper .toolbar.active .toggle-btn:after{
  border-right-color: transparent;
  border-left-color: #fff;
  left: 2px;
}

.toolbar .title {
  display: block;
  color: #eee;
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  text-decoration: none;
  padding: 0 10px;
  background-color: #000;
}

.toolbar .content {
  padding: 10px;
}

.toolbar select, .toolbar input {
  width: 100%;
}

#plot {
  height: 100%;
  overflow: hidden;
}


#text-select {
  float:right;
  margin-right: 10px;
}

.wrapper .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.wrapper .content .close {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  right: 0;
  top: 0;
}

.wrapper .content .inner {
  position: relative;
  width: 790px;
  margin: auto;
  height: 100%;
}

.wrapper .content .inner:before, .wrapper .content .inner:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 20px;
  height: 100%;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background-color: #fff;
}
.wrapper .content .inner:before{
  transform: rotate(2deg);
}
.wrapper .content .inner::after{
  transform: rotate(-2deg);
}

.wrapper .content .iframe-wrap-paper {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.wrapper .content .iframe-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper .content iframe {
  width: 1000px;
  height: 100%;
  display: block;
  position: relative;
  left: -210px;
  top: -152px;
  overflow-x: hidden;
  overflow-y: scroll;
}



svg .bubble-area-bg {
  pointer-events: all;
}

svg .bubble-node {
  fill: #33a7c2;
}

svg .bubble-hover {
  fill: #4dc2ca;
}

svg .bubble-active {
  fill: #75dccd;
  stroke: #4dc2ca;
  stroke-width: 1px;
}

svg .bubble-label-name, svg .bubble-label-value {
  text-shadow: 0 1px 0 #fafafa, 1px 0 0 #fafafa;
}
